<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="cafe">Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input class="ion-margin-top" [(ngModel)]="mdl_usuario" label="Usuario" labelPlacement="floating"> 
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="mdl_nombre" label="Nombre" labelPlacement="floating"> 
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="mdl_contrasena" label="Contraseña" labelPlacement="floating"> 
    </ion-input>
  </ion-item>

  <ion-button class="cafe ion-margin-top" expand="block" (click)="crearUsuario()"> Crear </ion-button>
</ion-content>
